---
---

<!DOCTYPE html>
<html class="" lang="en">
<head prefix="og: https://ogp.me/ns#">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <!-- STANDARDS ! -->
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta name="revised" content="Marc's Portfolio, 11/4/2016" />
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">
  <!-- STANDARD TWITTER CARD -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@busoginmoko">
  <meta name="twitter:title" content="{{ site.data.settings.title }}">
  <meta name="twitter:description" content="{{ site.data.settings.seo.description }}">
  <meta name="twitter:creator" content="@busoginmoko">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="https://marclesterkasilag.github.io/assets/img/sketch_face.jpg">
  <!-- OGP -->
  <meta property="og:title" content="{{ site.data.settings.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://marclesterkasilag.github.io/" />
  <meta property="og:image" content="https://marclesterkasilag.github.io/assets/img/work/proj-8/thumb.jpg" />
  <!-- FOR GOOGLE ! -->
  <meta itemprop="name" content="{{ site.data.settings.site-name }}">
  <meta itemprop="description" content="{{ site.data.settings.seo.description }}">
  <meta itemprop="image" content="https://marclesterkasilag.github.io/assets/img/work/proj-8/thumb.jpg">

  <title>{{ site.data.settings.title }}</title>

  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  <link rel="stylesheet" href="assets/css/all.css">
  {% include analytics.html %}
</head>
<body>
  {% include return.html %}

  {% include header.html %}

  {% include about.html %}

  {% include work.html %}

  {% include clients.html %}

  {% include contact.html %}

  {% include footer.html %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="assets/js/functions.js"></script>
</body>
</html>
