<img src="assets/img/work/proj-2/img1.jpg" alt="Original Image Before Editing" />
<p>Original Raw Image.</p>

<img src="assets/img/work/proj-2/img2.jpg" alt="Got a Painted-Like Effect From editing the raw image" />
<p>Painting Effect 1.</p>

<img src="assets/img/work/proj-2/img3.jpg" alt="Higher Hue Painted Look Outcome From Editing" />
<p>Painting Effect 2.</p>

<img src="assets/img/work/proj-2/img4.jpg" alt="Sketch Effect After Editng" />
<p>Sketch Effect 1.</p>

<img src="assets/img/work/proj-2/img5.jpg" alt="Another Mode of Hand-drawn of my Image Editing" />
<p>Sketch Effect 2.</p>
