<p><img src="assets/img/work/proj-2/img1.jpg" alt="raw image used for editing" title="Original image before editing" />
Original Raw Image.</p>

<p><img src="assets/img/work/proj-2/img2.jpg" alt="painted look after editing" title="Got a Painted-Like Effect From editing the raw image" />
Painting Effect 1.</p>

<p><img src="assets/img/work/proj-2/img3.jpg" alt="higher painted effect look output of image edit" title="Higher Hue Painted Look Outcome From Editing" />
Painting Effect 2.</p>

<p><img src="assets/img/work/proj-2/img4.jpg" alt="edited to become hand-drawn like effect" title="Sketch Effect After Editng" />
Sketch Effect 1.</p>

<p><img src="assets/img/work/proj-2/img5.jpg" alt="sketchy look" title="Another Mode of Hand-drawn of my Image Editing" />
Sketch Effect 2.</p>
