<section>

  <h3 id="marc-profile" title="About Marc's Portfolio">About</h3>

  <div class="face-lockup">

    <div class="face-img" title="Avatar of Marc Lester Kasilag" alt="marc lester kasilag profile picture"></div>

    <div class="icon-embed" title="Marc Makes Web Design" alt="embed icon to demonstrate marc creating web design "> {% include icons/icon-embed.html %}</div>
    <div class="icon-joystick" title="Marc Is A Hardcore Gamer" alt="joystick icon to describe marc being a gamer">{% include icons/icon-joystick.html %}</div>
    <div class="icon-coffee" title="Marc Loves Coffee" alt="coffee icon to show marc as a coffee lover">{% include icons/icon-coffee.html %}</div>
    <div class="icon-mouse" title="Marc Is A Computer Savvy" alt="mouse and computer icon describing marc as a techy">{% include icons/icon-mouse.html %}</div>

  </div>


  <div class="blurb">
    {{ site.data.settings.blurb | markdownify }}
  </div>

  {% if site.data.settings.skills %}

  <div class="skill-lockup">

    {% for skill in site.data.settings.skills %}

      <div class="skill-unit">
        <div class="skill-label">{{ skill.name }}</div>
        <div class="skill-icons skill-{{ skill.value }}">
          {% for i in (1..10) %}
            <span></span>
          {% endfor %}
        </div>
      </div>

    {% endfor %}

  </div>

  {% endif %}

</section>
