<img src="{{ site.github.url }}/assets/img/work/proj-7/img1.jpg" alt="My Concept Design of Student Handbook for FEATI" />
<img src="{{ site.github.url }}/assets/img/work/proj-7/img2.jpg" alt="Back Part View of the Handbook Mock up" />
<img src="{{ site.github.url }}/assets/img/work/proj-7/img3.jpg" alt="Inside Part of the Handbook Would Look Like" />
<img src="{{ site.github.url }}/assets/img/work/proj-7/img4.jpg" alt="The Middle Part of My Handbook Concept" />
<img src="{{ site.github.url }}/assets/img/work/proj-7/img5.jpg" alt="Stack Mock-up Design of my Concept Student Book" />
